@import url(../../../css/cssReset.css);
@import url(../../../css/styles.css);

.receptTopHero {
    position: relative;
    width: 100vw;
    height: 37vh;
    
}
#receptHeroBackground{
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 120%;
}

h2{
    font-family: "Raleway-bold"; 
    color: #418c9f;
    font-size: 4rem;
}
.receptHero{
    width: 100%;
}
.receptHeroTitle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.receptHeader{
    width: 100%;
    position: relative;
   
}
.receptHeader ul{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0%
}
.contentSpacer {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 768px){
    #receptData{
        
        width: 100%;
        height: 100%;
       
    }
     /* *NOTE : krijg het niet voor elkaar om te voorkomen 
     dat de tekst in tablet en desktop over de footer gaan. zelfs zonder grid.. 
     dit werkt op iedere andere pagina wel.  */
    .contentSpacer{
        display: grid;
        grid-template-areas:
            "bereid icons"
            "tekst ingredient"
            "tekst ingredient";
        grid-template-rows: 57px 2fr;
        grid-template-columns: 3fr 1fr;
    }
    .receptHeader{
        margin-top: 1rem;
        grid-area: icons;
    }
    .receptList{
        grid-area: ingredient;
        padding: 0 1rem;
    }
    .receptList h2{
        font-size: 2rem;

    }
    .receptTekst{
        position: relative;
        grid-area: tekst;
    }
    .receptTekst h2{
        grid-area: bereid;
    
    }
   .receptTekst p{
       
        font-size: 2.5rem;
    }
}