@import url(../../../css/cssReset.css);
@import url(../../../css/styles.css);
.receptenFilter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;;
}
.ingredienten{

}
.gerei{

}
/* Recepten card */


 

            /* TABLET BREAK */
@media only screen and (min-width: 768px){


}
        /* DESKTOP BREAK */
@media only screen and (min-width: 1024px){


}

