@import url(/css/styles.css);
@import url(videoJS.css);


.campagneTopHero{
    height: 80vh;
    margin: 2rem 0;
    position: relative;
}
#campagneHeroBackground{
    background-image: url(/images/nigella/nigella_hero.jpg);
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    top: -5%;
}

h2{
    font-family: "Raleway-bold"; 
    color: #418c9f;
    font-size: 4rem;
    text-transform: capitalize ;
}
.campagneHero{
    width: 100%;
}
.campagneHeroTitle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0px 3px 6px rgba(51,51,51,0.35);
}
.kokenMetNigellaHeadText p:nth-child(3){
    font-family: "Raleway_medium";


}
.kokenMetNigellaList ul{
    list-style-type: circle;
    list-style-position: inside;
}
.kokenMetNigellaList li{
    font-family: "Raleway_medium";
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px){

    .player{
        max-width: 100vw;
        width: 100%;
        position: relative;
    }
    video{
        width: 100%;
        max-width: 100vw;
    
    }
}
@media only screen and (min-width: 768px){
    .kokenMetNigella{
        position: relative;
        display: grid;
        grid-template-areas:
            "video video"
            "head1 head1"
            "head2 button";
        /* grid-template-rows:  2fr 3rf 2rf; */
        /* grid-template-columns: 2fr; */
    }
    #nigellaRegbtn{
        margin: auto 0;

    }
    .player{
        grid-area: video;
    }
    .kokenMetNigellaHeadText{
        height: 100%;
        width: 100%;
        grid-area: head1;
    }
    .kokenMetNigellaList{
        grid-area: head2;
    }
    .kokenMetNigellaRegister{
        grid-area: button;
    }


}
@media only screen and (min-width: 1023px){

    .kokenMetNigella{
        position: relative;
        display: grid;
        grid-template-areas:
            "head1 video"
            "head2 video"
            "button video";
        grid-template-rows:  1fr 100% ;
        grid-template-columns: 40% 1fr;
    }
    #nigellaRegbtn{
        margin: auto 0;
        
    }
    .player{
        grid-area: video;
    }
    .kokenMetNigellaHeadText{
        height: 100%;
        width: 100%;
        grid-area: head1;
    }
    .kokenMetNigellaList{
        grid-area: head2;
    }
    .kokenMetNigellaRegister{
        grid-area: button;
    }


}

.spacer{
    width: 95%;
    margin: 0 auto;
}