@import url(/css/styles.css);


.spacer{
    width: 95%;
    margin: 0 auto;
}
section h1{
    margin: 0;
}
.accountTopHero{
    height: 80vh;
    margin: 2rem 0;
    position: relative;
}
/* button{
    width: 80%;
} */


#persoonlijkeGegevensForm {
    width: 80%;

}
label{
    font-family: "merriweatherbold";
    font-size: 1rem;
    text-transform: uppercase;
    color: #418c9f;
}
#persoonlijkeGegevensForm div{
    display: flex;
    flex-direction: column;

}
#inlogForm div{
    display: flex;
    flex-direction: column;


}
.aanhefRadio{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.aanhefRadio div{
    display:block;
}
@media only screen and (min-width: 768px){
  
/* *NOTE: geen tijd meet voor styling door deadline */

}
@media only screen and (min-width: 1023px){
/* *NOTE: geen tijd meet voor styling door deadline */

}

