body{
    box-sizing: border-box;
    /* min-width: 375px; */
    min-width: 376px;
    font-family: "Raleway medium" ;
    margin:0 auto;
}
.no-JS{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size:initial;
    background-clip: border-box;
    background-color: cornflowerblue;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;


}
nav{
    position: relative;
    width: 100%;
    height:100px;
    background-color: gray;
   
}
#showMenu{
    appearance: none; 
    position: absolute;
    left:5%;
    }
       /* the burger icon is defined here */
#showMenu::after{
    content:"\2630";
    display: block;
    font-size: 1.0rem;
    text-align:left;        
    padding:0rem;  
}
#showMenu + ul{        
    font-size: 0rem;
    transition: all 0.5s ease-in;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    position: absolute;
    top: 5vh;
    background-color: #CCCCCC95;
    width: 100%;
}   
#showMenu:checked + ul{      
    font-size: 0.8rem;
    padding:1rem 0;
    font-weight: 800; 
    top: 5vh;
}     
nav li {
font-family: "open_sanslight";        
}
nav img{
    left: 5%;
    top: 20%;
    height: 60%;      
}
nav li:nth-child(5){
    display: none;
}
.verticalLine{
    display: none;
}

nav li{
background-color: none;
transition: all 0.5s ease-in-out;
border-right: 1px solid black;   
display: block;
}
nav li a{
display: block;
}
nav li:hover{
background-color: #FDB822;
}
nav li:nth-child(9){
border: none;
}    
.card{
    /* position: relative;
    border:1px black solid;
    margin: 2px 0;
    width: 100%;
    height: 400px */
    width:90%;   
    display: flex;
    align-content: center;
    justify-items: center;
    position: relative;
    margin:  auto;
    border: 1px black solid;
    
}
.cardContent{
    margin: 2%;
}
button{
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}
button{
    border: none;
    font-size: 2rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: #418c9f;
    
   
}

/* boeken */
.homeBoeken{
    position: relative;    
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeBoeken .cardContent{
    z-index: 2;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 50%;
}

.homeBoeken button{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50% );
}
.homeBoeken #boekPrijs{
    position: absolute;
    bottom: 2%;
    right: 2%;
    text-align: right;

}
.homeBoeken img{
   width: 300px;
   height: 500px;
}

.homeNieuws{
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeRecepten{
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
/* Artikel kaart */
.artikelCard{
position: relative;
border: 1px black solid;
width: 90%;
margin: 0 auto;
margin-bottom: 1rem;

}
.artikelCard img{
    width: 100%;
    height: 500px;
}
.artikelCard button{
    width: 70%;
    position: absolute;
    bottom: 10%;
    z-index: 6;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}
.artikelcard > {
margin-top: 0.5rem;
}


.artikelCard:hover{
    box-shadow: 5px -5px #88888850
}
 /* Recepten card */

 .receptCard{
    width:90%;   
    display: flex;
    align-content: center;
    justify-items: center;
    position: relative;
    margin:  auto;
    border: 1px black solid;

 }
 .receptCard:hover{
    box-shadow: 5px -5px #88888850
 }
 .cardSpacer{
     width:95%;
     height:100%;     
     margin: 4% auto; 
     display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
 }
 .receptHead{  
     display:flex;   
     width: 100%;
     justify-content: space-between;
 }
 .receptHead ul{
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
 }
 .receptHead li{
     font-size:0px;
 }
 /* .receptHead li::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600;
    font-size: 1rem;
    margin-left: .5rem;
 } */
 /* .receptHead li:nth-child(1)::after{    
    content:"\f578";
 }
 .receptHead li:nth-child(2)::after{
    content:"\f578";
 }
 .receptHead li:nth-child(3)::after{
    content:"\f578";
 }
 .receptText{
    

 } */
 .receptText ul{
    margin: .5rem 0;
 }
 .receptText li{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;   
 }
 .receptText button{
     margin-top: 1rem;
 }
 .receptText img{
    max-width: 300px;
    height: 500px;
}
