@media only screen and (min-width: 1024px){
    .boekenCard{
        max-width: 750px;
    }
    
    .artikelCard{
        max-width: 750px;
    }
    .homeRecepten{
        width: 90%;
           
    }
    .receptCardHolder{
        display: grid;
        grid-template-areas: "rCardOne rCardTwo rCardThree";
        gap: 0rem;   
        
    }
    .artikelCardHolder{
        display: grid;
        grid-template-areas: "aCardOne aCardTwo";
    }
   
    .artikelCard:nth-child(1){
        grid-area: "aCardOne";

    }
    .artikelCard:nth-child(2){
        grid-area: "aCardTwo";
    
    }
    .artikelCard:nth-child(n+3){
        display:none;
    }
    .receptCardHolder:nth-child(1) .receptCard{
    grid-area: "rCardTwo";
    gap: 1rem;    
    }
    .receptCardHolder:nth-child(2) .receptCard{
    grid-area: "rCardTwo";
    gap: 1rem;    
    }
    .receptCardHolder:nth-child(3) .receptCard{
        grid-area: "rCardThree";
        gap: 1rem;    
        }
}
