@media only screen and (min-width: 768px){
    /* Navigation CSS */



.boekenCard{
    max-width: 750px;
}

.artikelCard{
    max-width: 750px;
}
.homeRecepten{
    width: 90%;
   

}
.boekenCardHolder{
    width: 90%;
}

.receptCardHolder{
    display: grid;
    grid-template-areas: "rCardOne rCardTwo";
    gap: 1rem;   
    
}
.receptCardHolder:nth-child(1) .receptCard{
    grid-area: "rCardOne";
    gap: 1rem;    
    }
.receptCardHolder:nth-child(2) .receptCard{
grid-area: "rCardTwo";
gap: 1rem;    
}
.homeOver img{
    float: left;
    width:50%;
}

}